.card.card-background-color
  .card-header
    %h4 Create staff
  .card-body
    = simple_form_for(@staff, html: {class: 'form-inline'},url: staffs_path) do |f|
      = f.error_notification
      .row      
        .form-group.col-md-6

          = f.input :mobile_number
        .form-group.col-md-4
          = f.input :pin

      .row      
        .form-group.col-md-6
          = f.input :first_name
        .form-group.col-md-4
          = f.input :last_name
      .row      
        .form-group.align-multiselect
          = f.input :standard_ids, :label => 'Standard',:collection => @standards.collect {|u| [u.name, u.id]}, input_html: { class: 'standard_select', multiple: true}, include_hidden: false 
        .form-group.col-md-4
          = f.input :designation, input_html: {value: "ClassTeacher", selected: "ClassTeacher"}, readonly: true
          
      .row      
        .form-group.align-multiselect
          = f.input :preferred_language, :label => "Preferred Language", collection: LOCALES.invert, input_html: { class: 'language_select'}, include_hidden: false
            
      .form-group
        .float-right
          = f.button :submit, class: 'btn btn-success btn-space'
          = link_to 'Cancel', :back, class: 'btn btn-danger btn-add btn-space'

:javascript
  $(document).ready(function() {
    $('.standard_select').val("").multiselect({
      buttonWidth: '290px',
      maxHeight: 200
    });
    $('.language_select').find('option').eq(0).remove();
    $('.language_select').val("").multiselect({
      buttonWidth: '290px',
      maxHeight: 200
    });
  })
