%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link.active{"data-toggle" => "tab", :href => "#home"}= t 'global.students'
  %li.nav-item
    %a.nav-link{"data-toggle" => "tab", :href => "#menu1", class: "fa fa-upload btn icon-space"}= t 'global.upload'
.tab-content
  #home.tab-pane.container.active
    .card
      .card-body
        %h4
          = t 'global.students'
          = link_to "Create", new_student_path, class: 'btn-right btn-sm btn-default btn-primary btn-space'
        .float-right.filter_data
          = select_tag 'standard', options_for_select(@standards.collect{ |s| [s.name, s.id] }, @standards&.first&.id), class: 'standard-select filter_data', include_blank: 'select standard'
        .card-description
        %br
        %table.table.table-striped#dttb
          %thead
            %th= t 'global.reg_no'
            %th= t 'global.roll_no'
            %th= t 'global.name'
            %th= t 'global.guardian_name'
            %th= t 'global.guardian_mobile'
            %th Action

          %tbody
          = pagy_bootstrap_responsive_nav(@pagy).html_safe
  #menu1.tab-pane.container.fade
    .card
      .card-body
        %h4 Upload student information
        %br
        .col-md-6
          .row
            = form_for 'student', url: import_students_path do |f|
              = f.file_field "file", {onchange: 'this.form.submit();'}
          %br
          .row
            = link_to 'Download Sample', '/student-inventory.csv', action: 'download'

.modal.bd-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %h6.align-body Are You Sure?
      .modal-footer
        %button.btn.btn-success.delete-student{:type => "button"} Yes
        %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} No

